# Ignore node_modules everywhere
**/node_modules/

# Logs
*.log

# dotenv
.env
.env.*.local

# lock files (optional)
package-lock.json
yarn.lock

# IDE/editor settings
.vscode/
.idea/

# Build output
dist/
build/
